
.nav {
    font-size: 20pt;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #17a2b8;
    color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: white;
    border-color: #e9ecef #e9ecef #dee2e6;
    margin-right: 10px;
}

#currentLength{
    margin-top: 50px;
    font-size:25pt;
}

#lengthInput{
    width: 200px;
    height: 100px;
}